body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

header img {
    margin-right: 10px;
}

nav {
    background-color: #444;
    padding: 10px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.navbar a:hover {
    background-color: #555;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.countdown-container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin: 20px;
}

.countdown-item {
    display: inline-block;
    margin: 10px;
}

.countdown-value {
    font-size: 2em;
    display: block;
}

.countdown-label {
    font-size: 1em;
    color: #777;
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .navbar li {
        margin-bottom: 10px;
    }
}
